In [89]:
import pandas as pd
import numpy as np
import geocoder

Displaying shape of the dataframe

In [99]:
df.shape
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Reading CSV file with coordinates into a dataframe

In [96]:
cords = pd.read_csv('Geospatial_Coordinates (1).csv')

In [98]:
cords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Inserting longitude AND latitude of similar postal codes in a list

In [108]:
longitude = []
latitude = []
for i in range(df['Postal Code'].size):
    for x in range(cords['Postal Code'].size):
        if(df['Postal Code'].iloc[i] == cords['Postal Code'].iloc[x]):
            longitude.append(cords['Longitude'].iloc[x])
            latitude.append(cords['Latitude'].iloc[x])

Stored the original datafram 'df' into a new dataframe so i dont lose the original and inserted the latitude and longitude into the new datafram 'df2'

In [114]:
df2 = df

In [121]:
df2['Longitude'] = longitude
df2['Latitude'] = latitude

In [123]:
df2[df2["Postal Code"] == 'M2H'].head()

   Postal Code     Borough      Neighbourhood  Longitude   Latitude
27         M2H  North York  Hillcrest Village -79.363452  43.803762